<%= form_for @shop do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@shop.errors.count, "error") %> prohibited
        this Shop from being saved:
      </h2>
         <% @shop.errors.full_messages.each do |msg| %>
          <li style="left-margin:'30%'"><%= msg %></li>  
          <% end %>
    </div>
   <% end %> 

  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :area %><br>
    <%= f.text_area :area %>
  </p>

  <p>
    <%= f.label :pin %><br>
    <%= f.number_field :pin%>
  </p>

  <p>
    <%= f.label :contact %><br>
    <%= f.telephone_field :contact%>
  </p>

  <%= f.hidden_field :lat%>
  <%= f.hidden_field :long%>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>