<head>
  <script>
    var doc=document.getElementById("demo");
    function showPosition(){
      var latlon=<%=@shop.lat%>+","+<%=@shop.long%>;
      var img_url="http://maps.googleapis.com/maps/api/staticmap?center="
                  +latlon+"&zoom=15&size=600x400&sensor=false";
      document.getElementById("map").innerHTML="<img src='"+img_url+"'>";
    }
  
  $( document ).ready(function() {
    showPosition();
  });

  </script>
</head>
<body>
  <center>
    <h1><u>Shop</u></h1>

    <p>
      <strong>Name:</strong>
      <%= @shop.name %>
    </p>
    
    <p>
      <strong>Area:</strong>
      <%= @shop.area %>
    </p>
    
    <p>
      <strong>Pin:</strong>
      <%= @shop.pin %>
    </p>
    
    <p>
      <strong>Contact No:</strong>
      <%= @shop.contact %>
    </p>
    
    <br>
    <br>
    
    <div id="map"></div>
  <center>
</body>