<center>
  
  <div class="page-header">
    <h1><u>Shop</u></h1>
  </div>

<div style = "padding-right: 30%; padding-left: 30%;">
  <table class="table">
    <tr>
      <td><strong>Name:<strong></td>
      <td><%= @shop.name %></td>
    </tr>

    <tr>
      <td><strong>Area:<strong></td>
      <td><%= @shop.area %></td>
    </tr>

    <tr>
      <td><strong>Pin:<strong></td>
      <td><%= @shop.pin %></td>
    </tr>

    <tr>
      <td><strong>Contact No:<strong></td>
      <td><%= @shop.contact %></td>
    </tr>
  </table>
</div>
     
  <br>
  <br>

  

 <center>
<div class="container" style = "width:auto; height:auto; right-margin: 10%; ">
    <%=render 'showmap'%>
</div>
